<strong>Trang chủ</strong>
<p>a1: <%=a1%></p>
<p>a1: <%=a2%></p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, culpa quae. Est laboriosam ullam minus
  temporibus! Quibusdam non ut dolorem libero perspiciatis quis delectus earum eligendi veniam, cum quaerat architecto.
</p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <% for(const row of rows) { %>
    <tr>
      <td><%=row.id%></td>
      <td><%=row.name%></td>
      <td><%=row.birthday%></td>
      <td><%=row.gender%></td>
    </tr>
    <%}%>
  </tbody>
</table>
